* {
    margin: 0;
    padding: 0;
}

/* ------ Media Query ------ */
@media (max-width: 2561px) {
    html,body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;  
    }
}
section {
    background-image: url(images/about.webp);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
/* ------ Media Query ------ */
@media (max-width: 1024px) {
    section {
        width: 100%;
        height: 430px;
    }
}
@media (max-width: 992px) {
    section {
        width: 100%;
        height: 350px;
    }
}
@media (max-width: 768px) {
    section {
        width: 100%;
        height: 250px;
    }
}
.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #06031a9a;
}
/* ------ Media Query ------ */
@media (max-width: 1024px) {
    .overlay {
        width: 100%;
        height: 430px;
    }
}
@media (max-width: 992px) {
    .overlay {
        width: 100%;
        height: 350px;
    }
}
@media (max-width: 768px) {
    .overlay {
        width: 100%;
        height: 250px;
    }
}
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    transition: 1s ease;
}
.white {
    background-color: #06031a9a; 
}
/* Navigation Bar Logo */
.logo {
    line-height: 80px;
    margin-left: 40px;
}
/* ------ Media Query ------ */
@media (max-width: 426px) {
    .logo {
        margin-left: 12px;
    }
}
nav ul {
    float: right;
    list-style-type: none;
    margin-right: 450px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    nav ul {
       margin-right: 1100px;
    }
}
@media (min-width: 992px) and (max-width: 1085px) {
    nav li {
        margin-right: -14px;
    }
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
}
nav ul li a:hover {
    color: aqua;
}
#checkbtn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
    display: none
}
#check {
    display: none;
}
#check:checked ~ ul {
    left: 0;
}
/* ------ Media Query ------ */
@media (max-width: 992px) {
    #checkbtn {
        display: block;
    }
    nav ul {
        width: 100%;
        height: 100vh;
        background-color: #06031a9a;
        margin-top: 0px;
        position: fixed;
        left: -100%;
        transition: .5s;
    }
    nav ul li {
        display: block;
        text-align: center;
       line-height: 35px;
       margin: 10px;
    }
    nav ul li a {
        font-size: 20px;
    }
}

/* Page SubMenu Style */
.sub-menu-page {
    display: none;
}
ul li:hover .sub-menu-page {
    display: block;
    position: absolute;
    background-color: #fff;
}
.sub-menu-page ul li {
    display: block;
    list-style-type: none;
    width: 100px;
    height: 30px;
    margin-left: -15px;
}
.sub-menu-page li a {
    color: #000;
}
/* Phone Icon */
.phone-icon {
    float: right;
    margin-right: -700px;
    line-height: 80px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .phone-icon {
       margin-right: -1100px;
    }
}
@media (min-width: 993px) and (max-width: 1025px) {
    .phone-icon {
       margin-right: -620px;
    }
}
@media (max-width: 992px) {
    .phone-icon {
        display: none;
    }
}
.phone-icon a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.phone-icon a i {
    color: #33D4D6;
    font-size: 14px;
}
/* Button Part */
.nav-button {
    float: right;
    margin-right: -850px;
    line-height: 80px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .nav-button {
       margin-right: -1250px;
    }
}
@media (min-width: 993px) and (max-width: 1025px) {
    .nav-button {
       margin-right: -770px;
    }
}
@media (max-width: 992px) {
    .nav-button {
        display: none;
    }
}
.nav-button a {
    color: #33D4D6;
    text-decoration: none;
    font-size: 12px;
    border: 2px solid #33D4D6;
    width: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.nav-button a:hover {
    background-color: #33D4D6;
    color: #fff;
}

/* Text Part */
.text h3 {
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    line-height: 74px;
    padding-top: 200px;
    padding-left: 130px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .text h3 {
        padding-left: 700px;
        padding-top: 220px;
        font-size: 3vw;
    }
}
@media (max-width: 1025px) {
    .text h3 {
        padding-left: 50px;
        padding-top: 200px;
    }
}
@media (max-width: 992px) {
    .text h3 {
        font-size: 6vw;
    }
}
@media (max-width: 768px) {
    .text h3 {
        line-height: 50px;
        padding-top: 100px;
    }
}
@media (max-width: 426px) {
    .text h3 {
        padding-left: 20px;
        padding-top: 100px;
        line-height: 40px;
        font-size: 8vw;
    }
}
@media (max-width: 412px) {
    .text h3 {
        padding-top: 130px;
    }
}
@media (max-width: 376px) {
    .text h3 {
        padding-left: 20px;
    }
}

                         /* Why Choose Us Section */
 .choose-section {
    width: 100%;
    height: 800px;
}
@media (max-width: 768px) {
    .choose-section  {
        width: 100%;
        height: 1200px;
    }
}
@media (max-width: 750px) {
    .choose-section {
        width: 100%;
        height: 1850px;
    }
}
@media (max-width: 426px) {
    .choose-section {
        width: 100%;
        height: 1000px;
    }
}
@media (max-width: 321px) {
    .choose-section {
        width: 100%;
        height: 1050px;
    }
}
/* Image */
.choose-section img {
    height: 600px;
    margin: 60px 90px 100px 100px;
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .choose-section img {
        margin-left: 710px;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .choose-section img {
        width: 450px;
        margin-left: 20px;
    }
}
@media (max-width: 768px) {
    .choose-section img  {
        margin: 100px 100px 10px 120px;
    }
}
@media (max-width: 426px) {
    .choose-section img {
        width: 350px;
        height: 350px;
        margin-left: 40px;
    }
}
@media (max-width: 412px) {
    .choose-section img {
        margin-left: 30px;
    }
}
@media (max-width: 376px) {
    .choose-section img {
        width: 350px;
        margin-left: 15px;
    }
}
@media (max-width: 321px) {
    .choose-section img {
        width: 280px;
        margin-left: 22px;
    }
}
/* Info Part */
.choose-section .info {
    padding-top: 170px;
}
/* ------ Media Query ------ */
@media (max-width: 768px) {
    .choose-section .info {
        padding-left: 120px;
    }
}
@media (max-width: 426px) {
    .choose-section .info {
        padding-left: 40px;
    }
}
@media (max-width: 376px) {
    .choose-section .info {
        padding-left: 20px;
    }
}
.info h3 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    color: #001D38;
    position: relative;
    margin-bottom: 35px;
}
/* ------ Media Query ------ */
@media (min-width: 400px) and (max-width: 576px) {
    .info h3 {
        font-size: 30px;
    }
}
@media (max-width: 321px) {
    .info h3 {
        font-size: 25px;
    }
}
.info p {
    color: #7A838B;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
/* ------ Media Query ------ */
@media (min-width: 400px) and (max-width: 576px) {
    .info p {
        font-size: 2.9vw;
    }
}
@media (max-width: 376px) {
    .info p {
        font-size: 3.1vw;
    }
}
@media (max-width: 321px) {
    .info p {
        font-size: 5.8vw;
    }
}
.info ul {
    margin-bottom: 70px;
}
.info ul li {
    font-size: 15px;
    line-height: 28px;
    color: #040E27;
    font-weight: 400;
    position: relative;
    
}
/* ------ Media Query ------ */
@media (max-width: 768px) {
    .info ul li {
        margin-left: -18px;
    }
}
@media (max-width: 321px) {
    .info ul li {
        margin-left: -23px;
    }
}
li::marker {
    color: #33D4D6;
}
/* Button Part */
.choose-section .about-button {

}
.choose-section .about-button a {
    background-color: #33D4D6;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #33D4D6;
    width: 12px;
    padding: 11px 29px 13px 29px;
    border-radius: 5px;
    transition: 0.3s;
}
.choose-section .about-button :hover {
    background: #fff;
    color: #33D4D6;
}

                               /* Work Area Section */
 .work-area {
    width: 100%;
    height: 700px;
    background: #F5FBFF;
}
/* ------ Media Query ------ */
@media (max-width: 992px) {
    .work-area {
        width: 100%;
        height: 900px;
    }
}
@media (max-width: 768px) {
    .work-area {
        width: 100%;
        height: 1000px;
    }
}
@media (max-width: 576px) {
    .work-area {
        width: 100%;
        height: 1300px;
        
    }
}
/* Text Part */
.work-area .text {
    text-align: center;
    padding-top: 150px;
}
.work-area .text h2 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    color: #001D38;
    margin-bottom: 15px;
}
.work-area .text p {
    font-size: 16px;
    color: #7A838B;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
/* Button Part */
.work-area .work-btn span {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 30px 30px 30px 30px;
    color: #0A8CFF;
    font-size: 16px;
    font-weight: 500;
    background: #DDF0FF;
}
.work-area .work-btn {
    width: 33.33%;
    padding-top: 120px;
    padding-left: 110px;
    float: left;
    margin-left: -35px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .work-area .work-btn {
        margin-right: -1050px;
        margin-left: 600px;
    }
}
/* ------ Media Query ------ */
@media (max-width: 992px) {
    .work-area .work-btn {
        width: 50%;
    }
}
@media (max-width: 576px) {
    .work-area .work-btn {
        width: 100%;
    }
}
@media (max-width: 426px) {
    .work-area .work-btn {
        margin-left: -90px;
    }
}
.work-area .work-btn h3 {
    font-size: 24px;
    color: #040E27;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 15px;
}
.work-area .work-btn p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
}
/* ------ Media Query ------ */
@media (min-width: 992px) and (max-width: 1025px) {
    .work-area .work-btn p {
        font-size: 1.3vw;
    }
}
@media (max-width: 376px) {
    .work-area .work-btn p {
        font-size: 4vw;
    }
}
@media (max-width: 321px) {
    .work-area .work-btn p {
        font-size: 3.8vw;
    }
}

                              /* Frequently Ask Section */
.feq-ask {
    width: 100%;
    height: 600px;
}
/* Image Part */
.feq-ask .img-part img {
    left: 0;
    width: 50%;
    top: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 80px;
}
/* ------ Media Query ------ */
@media (max-width: 1025px) {
    .feq-ask .img-part img {
        height: 100%;
    }
}
@media (max-width: 1026px) {
    .feq-ask .img-part img {
        display: none;
    }
}
/* Text Part */
.feq-ask .text {
    padding-top: 100px;
}
/* ------ Media Query ------ */
@media (max-width: 1026px) {
    .feq-ask .text {
        padding-left: 150px;
    }
}
@media (max-width: 768px) {
    .feq-ask .text {
        padding-left: 50px;
    }
}
@media (max-width: 426px) {
    .feq-ask .text {
        padding-left: 20px;
    }
}
.feq-ask .text h2 {
    font-size: 44px;
    font-weight: 400;
    color: #040E27;
    margin-bottom: 50px;
}

/* Feq Text List Part */
.feq-ask hr {
    width: 35%;
    margin-top: -5px;
}
/* ------ Media Query ------ */
@media (max-width: 1026px) {
    .feq-ask hr {
        width: 70%;
        margin-left: 150px;
    }
}
@media (max-width: 768px) {
    .feq-ask hr {
        width: 80%;
        margin-left: 50px;
    }
}
@media (max-width: 426px) {
    .feq-ask hr {
        width: 90%;
        margin-left: 20px;
    }
}
/* Text List Part */
/* ------ Media Query ------ */
@media (max-width: 1026px) {
    .feq {
        padding-left: 150px;
    }
}
@media (max-width: 768px) {
    .feq {
        padding-left: 50px;
    }
}
@media (max-width: 426px) {
    .feq {
        padding-left: 20px;
    }
}
@media (max-width: 376px) {
    .feq {
        padding-left: 10px;
    }
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h5 {
    margin-right: 200px;
    padding-top: 10px;
    font-size: 18px;
    color: #0f2137;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .title h5 {
        padding-right: 600px;
    }
}
@media (min-width: 1420px) and (max-width: 1441px) {
    .title h5 {
        padding-right: 45px;
    }
}
@media (max-width: 1026px) {
    .title h5 {
        padding-right: 280px;
    }
}
@media (max-width: 768px) {
    .title h5 {
        padding-right: 120px;
    }
}
@media (max-width: 426px) {
    .title h5 {
        margin-right: -100px;
    }
}
@media (max-width: 376px) {
    .title h5 {
        margin-right: -135px;
    }
}
@media (max-width: 321px) {
    .title h5 {
        margin-right: -122px;
    }
}
/* Second Text */
.title .second-text h5 {
    margin-right: 312px;
}
@media (max-width: 426px) {
    .title .second-text h5 {
        margin-right: 12px;
    }
}
@media (max-width: 376px) {
    .title .second-text h5 {
        margin-right: -25px;
    }
}
/* Third Text */
.title .third-text h5 {
    margin-right: 300px;
}
@media (max-width: 426px) {
    .title .third-text h5 {
        margin-right: -2px;
    }
}
@media (max-width: 376px) {
    .title .third-text h5 {
        margin-right: -40px;
    }
}
/* Fourth Text */
.title .fourth-text h5 {
    margin-right: 340px;
}
@media (max-width: 426px) {
    .title .fourth-text h5 {
        margin-right: 35px;
    }
}
@media (max-width: 376px) {
    .title .fourth-text h5 {
        margin-right: -1px;
    }
}
.content {
    padding-top: 20px;
    padding-left: 25px;
    font-size: 15px;
    color: #727272;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease;
}
/* ------ Media Query ------ */
@media (max-width: 426px) {
    .content {
        padding-left: 15px;
    }
}
@media (max-width: 376px) {
    .content {
        font-size: 12px;
    }
}
@media (max-width: 321px) {
    .content {
        padding-left: 5px;
    }
}
.feq.active .content {
    max-height: 200px;
}
.feq.active svg {
    transform: rotate(180deg);
}
svg {
    transition: 0.5s ease-in;
    width: 20px;
}

                                   /* Slider Section */
 .slider-section {
    width: 100%;
    height: 400px;
}
@media (max-width: 768px) {
    .img-slider {
    
    }
}
.img-slider img {
    margin-right: 70px;
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .img-slider img {
        margin-left: 400px;
    }
}
@media (max-width: 768px) {
    .img-slider img {
        margin-left: 150px;
    }
}
@media (max-width: 426px) {
    .img-slider img {
        margin-left: 40px;
    }
}
@media (max-width: 412px) {
    .img-slider img {
        margin-left: 35px;
    }
}
@media (max-width: 376px) {
    .img-slider img {
        margin-left: 20px;
    }
}
@media (max-width: 321px) {
    .img-slider img {
        margin-left: 2px;
    }
}
/* Text Part */
.img-slider .text-part {
    padding-top: 50px;
}
.img-slider .text-part p {
    font-size: 18px;
    font-weight: 400;
    color: #040E27;
    line-height: 32px;
    margin-bottom: 18px;
}
/* ------ Media Query ------ */
@media (max-width: 1026px) {
    .img-slider .text-part p {
        font-size: 1.2vw;
        line-height: 25px;
    }
}
@media (max-width: 768px) {
    .img-slider .text-part p {
     display: inline-block;
     padding-left: 120px;
     font-size: 1.4vw;
    }
}
@media (max-width: 426px) {
    .img-slider .text-part p {
        padding-left: 20px;
        font-size: 2vw;
    }
}
@media (max-width: 376px) {
    .img-slider .text-part p {
        font-size: 2.3vw;
        padding-left: 0px;
    }
}
@media (max-width: 321px) {
    .img-slider .text-part p {
        font-size: 2.3vw;
    }
}
/* Text Span Part */
.img-slider .text-part span {
    color: #7A838B;
    font-size: 16px;
    font-weight: 400;
    display: block;
}
/* ------ Media Query ------ */
@media (max-width: 768px) {
    .img-slider .text-part span {
        padding-left: 120px;
    }
}
@media (max-width: 426px) {
    .img-slider .text-part span {
        padding-left: 20px;
    }
}
@media (max-width: 376px) {
    .img-slider .text-part span {
        padding-left: 0px;
    }
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .carousel-control-prev {
        margin-top: 450px;
        margin-left: 250px;
    }
}
@media (max-width: 1441px) {
    .carousel-control-prev {
        margin-top: 60px;
    }
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .carousel-control-next {
        margin-top: 450px;
        margin-right: 250px;
    }
}
@media (max-width: 1441px) {
    .carousel-control-next {
        margin-top: 60px;
    }
}

                         /* Image Brand Section */
.img-brand-section {
    width: 100%;
    height: 200px;
    margin-left: 70px;
}

                         /* Apply Loan Section */
.apply-loan {
    background-image: url(images/loan.png.webp);
    height: 380px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .apply-loan {
        background-size: cover;
    }
}
.apply-loan .img-overlay {
    top: 0;
    left: 0;
    height: 380px;
    background: #06031a9a;
}
.apply-loan h3 {
    font-size: 35px;
    line-height: 1.4;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    padding-top: 140px;
    padding-left: 110px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .apply-loan h3 {
        padding-left: 650px;
    }
}
@media (max-width: 1024px) {
    .apply-loan h3 {
        padding-left: 50px;
    }
}
@media (max-width: 590px) {
    .apply-loan h3 {
        font-size: 25px;
        padding-left: 10px;
    }
}
@media (max-width: 376px) {
    .apply-loan h3 {
        font-size: 20px;
    }
}
@media (max-width: 321px) {
    .apply-loan h3 {
        font-size: 19px;
    }
}
/* Button Part */
.apply-loan-button {
    float: right;
    margin-right: 150px;
    margin-top: -50px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .apply-loan-button {
        margin-right: 650px;
    }
}
@media (max-width: 1024px) {
    .apply-loan-button {
        margin-right: 50px;
    }
}
@media (max-width: 768px) {
    .apply-loan-button {
        float: left;
        margin-top: 40px;
        margin-left: 50px;
    }
}
@media (max-width: 590px) {
    .apply-loan-button {
        margin-left: 10px;
    }
}
.apply-loan-button a {
    background-color: #33D4D6;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #33D4D6;
    width: 12px;
    padding: 11px 29px 13px 29px;
    border-radius: 5px;
    transition: 0.3s;
}
.apply-loan-button :hover {
    background: #06031a9a;
    color: #33D4D6;
}

                                /* Footer Section */
.footer-section {
    width: 100%;
    height: 500px;
    background-color: #fff;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section {
        width: 100%;
        height: 900px;
    }
}
@media (max-width: 576px) {
    .footer-section {
        width: 100%;
        height: 1500px;
    }
}
/* First Colums */
.footer-section .first-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .footer-section .first-text {
        margin-left: 550px;
    }
}
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .first-text {
        width: 50%;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .first-text {
        width: 50%;
        margin-left: -50px;
    }
}
@media (max-width: 426px) {
    .footer-section .first-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .first-text img {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}
.footer-section .first-text p {
    color: #7A838B;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 100px;
    padding-top: 50px;
}

/* Second Colums */
.footer-section .second-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .second-text {
        width: 50%;
        margin-left: -70px;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .second-text {
        width: 50%;
        margin-left: -70px;
    }
}
@media (max-width: 426px) {
    .footer-section .second-text {
        width: 100%;
        margin-left: -150px;
    }
}
.footer-section .second-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 170px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}

.footer-section .second-text .list-link {
   font-size: 13px;
    list-style: none;
    line-height: 3;
    padding-left: 170px;
    padding-top: 0px;
    
}

.footer-section .second-text .list-link a {
    text-decoration: none;
    color: #7A838B;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/* Third Colums */
.footer-section .third-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .third-text {
        width: 50%;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .third-text {
        width: 50%;
        margin-left: -50px;
    }
}
@media (max-width: 426px) {
    .footer-section .third-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .third-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}
.footer-section .third-text .list-link-third {
    font-size: 13px;
     list-style: none;
     line-height: 3;
     padding-left: 100px;
     padding-top: 0px;
     
 }
 
 .footer-section .third-text .list-link-third a {
     text-decoration: none;
     color: #7A838B;
     font-weight: 400;
     font-family: "Roboto", sans-serif;
 }


/* Fourth Colums */
.footer-section .fourth-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .fourth-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .fourth-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .fourth-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}
.footer-section .fourth-text p {
    color: #7A838B;
    font-size: 13px;
    padding-left: 100px;
    line-height: 3;
}