* {
    margin: 0;
    padding: 0;
}

/* ------ Media Query ------ */
@media (max-width: 2561px) {
    html,body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;  
    }
}
section {
    background-image: url(images/contact.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
/* ------ Media Query ------ */
@media (max-width: 1024px) {
    section {
        width: 100%;
        height: 430px;
    }
}
@media (max-width: 992px) {
    section {
        width: 100%;
        height: 350px;
    }
}
@media (max-width: 768px) {
    section {
        width: 100%;
        height: 250px;
    }
}
.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #06031a9a;
}
/* ------ Media Query ------ */
@media (max-width: 1024px) {
    .overlay {
        width: 100%;
        height: 430px;
    }
}
@media (max-width: 992px) {
    .overlay {
        width: 100%;
        height: 350px;
    }
}
@media (max-width: 768px) {
    .overlay {
        width: 100%;
        height: 250px;
    }
}
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    transition: 1s ease;
}
.white {
    background-color: #06031a9a; 
}
/* Navigation Bar Logo */
.logo {
    line-height: 80px;
    margin-left: 40px;
}
/* ------ Media Query ------ */
@media (max-width: 426px) {
    .logo {
        margin-left: 12px;
    }
}
nav ul {
    float: right;
    list-style-type: none;
    margin-right: 450px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    nav ul {
       margin-right: 1100px;
    }
}
@media (min-width: 992px) and (max-width: 1085px) {
    nav li {
        margin-right: -14px;
    }
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
}
nav ul li a:hover {
    color: aqua;
}
#checkbtn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
    display: none
}
#check {
    display: none;
}
#check:checked ~ ul {
    left: 0;
}
/* ------ Media Query ------ */
@media (max-width: 992px) {
    #checkbtn {
        display: block;
    }
    nav ul {
        width: 100%;
        height: 100vh;
        background-color: #06031a9a;
        margin-top: 0px;
        position: fixed;
        left: -100%;
        transition: .5s;
    }
    nav ul li {
        display: block;
        text-align: center;
       line-height: 35px;
       margin: 10px;
    }
    nav ul li a {
        font-size: 20px;
    }
}

/* Page SubMenu Style */
.sub-menu-page {
    display: none;
}
ul li:hover .sub-menu-page {
    display: block;
    position: absolute;
    background-color: #fff;
}
.sub-menu-page ul li {
    display: block;
    list-style-type: none;
    width: 100px;
    height: 30px;
    margin-left: -15px;
}
.sub-menu-page li a {
    color: #000;
}
/* Phone Icon */
.phone-icon {
    float: right;
    margin-right: -700px;
    line-height: 80px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .phone-icon {
       margin-right: -1100px;
    }
}
@media (min-width: 993px) and (max-width: 1025px) {
    .phone-icon {
       margin-right: -620px;
    }
}
@media (max-width: 992px) {
    .phone-icon {
        display: none;
    }
}
.phone-icon a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.phone-icon a i {
    color: #33D4D6;
    font-size: 14px;
}
/* Button Part */
.nav-button {
    float: right;
    margin-right: -850px;
    line-height: 80px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .nav-button {
       margin-right: -1250px;
    }
}
@media (min-width: 993px) and (max-width: 1025px) {
    .nav-button {
       margin-right: -770px;
    }
}
@media (max-width: 992px) {
    .nav-button {
        display: none;
    }
}
.nav-button a {
    color: #33D4D6;
    text-decoration: none;
    font-size: 12px;
    border: 2px solid #33D4D6;
    width: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.nav-button a:hover {
    background-color: #33D4D6;
    color: #fff;
}

/* Text Part */
.text h3 {
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    line-height: 74px;
    padding-top: 200px;
    padding-left: 130px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .text h3 {
        padding-left: 700px;
        padding-top: 220px;
        font-size: 3vw;
    }
}
@media (max-width: 1025px) {
    .text h3 {
        padding-left: 50px;
        padding-top: 200px;
    }
}
@media (max-width: 992px) {
    .text h3 {
        font-size: 6vw;
    }
}
@media (max-width: 768px) {
    .text h3 {
        line-height: 50px;
        padding-top: 100px;
    }
}
@media (max-width: 426px) {
    .text h3 {
        padding-left: 20px;
        padding-top: 100px;
        line-height: 40px;
        font-size: 8vw;
    }
}
@media (max-width: 412px) {
    .text h3 {
        padding-top: 140px;
    }
}
@media (max-width: 376px) {
    .text h3 {
        padding-left: 20px;
    }
}

                         /* Form Section */
.form-section {
    width: 100%;
    height: 700px;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .form-section {
        margin-left: 500px;
    }
}
@media (min-width: 870px) and (max-width: 992px) {
    .form-section {
        margin-left: -50px;
    }
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 870px) {
    .form-section {
        margin-left: -150px;
    }
}
@media (max-width: 766px) {
    .form-section {
        margin-left: -180px;
    }
}
@media(min-width: 400px) and (max-width: 412px) {
    .form-section {
        margin-left: -185px;
    }
}
.form-section h2 {
    font-size: 27px;
    font-weight: 600;
    padding-top: 80px;
    padding-left: 200px;
    margin-bottom: 20px;
    color: #001D38;
    font-family: "Roboto", sans-serif;
}
/* Comment Part */
.comment-part textarea {
    margin-left: 200px;
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    padding-left: 18px;
    padding-top: 5px;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
}
/* ------ Media Query ------ */
@media (max-width: 426px) {
    .comment-part textarea {
        width: 380px;
    }
}
@media (max-width: 376px) {
    .comment-part textarea {
        width: 330px;
    }
}
@media (max-width: 321px) {
    .comment-part textarea {
        width: 280px;
    }
}
/* Name Part */
.name input {
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #e5e6e9;
    width: 310px;
    height: 50px;
    padding-left: 18px;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
}
/* ------ Media Query ------ */
@media (max-width: 856px) {
    .name input {
        width: 660px;
    }
}
@media (max-width: 426px) {
    .name input {
        width: 380px;
    }
}
@media (max-width: 376px) {
    .name input {
        width: 330px;
    }
}
@media (max-width: 321px) {
    .name input {
        width: 280px;
    }
}
/* Email Part */
.email input {
    margin-left: 35px;
    border: 1px solid #e5e6e9;
    width: 310px;
    height: 50px;
    padding-left: 18px;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
}
/* ------ Media Query ------ */
@media (max-width: 856px) {
    .email input {
        width: 660px;
        margin-left: 200px;
        margin-top: 30px;
    }
}
@media (max-width: 426px) {
    .email input {
        width: 380px;
    }
}
@media (max-width: 376px) {
    .email input {
        width: 330px;
    }
}
@media (max-width: 321px) {
    .email input {
        width: 280px;
    }
}
/* Subject Part */
.subject input {
    margin-left: 200px;
    margin-top: 30px;
    border: 1px solid #e5e6e9;
    width: 660px;
    height: 50px;
    padding-left: 18px;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
}
/* ------ Media Query ------ */
@media (max-width: 426px) {
    .subject input {
        width: 380px;
    }
}
@media (max-width: 376px) {
    .subject input {
        width: 330px;
    }
}
@media (max-width: 321px) {
    .subject input {
        width: 280px;
    }
}
/* Button Part */
.form-button {
    margin-top: 70px;
    margin-left: 200px;
}
.form-button a {
    color: #33D4D6;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #33D4D6;
    width: 50px;
    padding: 14px 44px;
}
/* ------ Media Query ------ */
@media (max-width: 376px) {
    .form-button a {
        padding: 14px 30px;
    }
}
@media (max-width: 321px) {
    .form-button a {
        padding: 14px 10px;
    }
}
.form-button a:hover {
    background-color: #33D4D6;
    color: #fff;
}

                           /* Footer Section */
.footer-section {
    width: 100%;
    height: 500px;
    background-color: #fff;
}
/* ------ Media Query ------ */
@media (min-width: 768px) and (max-width: 1100px) {
    .footer-section {
        width: 100%;
        height: 900px;
    }
}
@media (max-width: 576px) {
    .footer-section {
        width: 100%;
        height: 1500px;
    }
}
/* First Colums */
.footer-section .first-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 2000px) and (max-width: 2561px) {
    .footer-section .first-text {
        margin-left: 550px;
    }
}
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .first-text {
        width: 50%;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .first-text {
        width: 50%;
        margin-left: -50px;
    }
}
@media (max-width: 426px) {
    .footer-section .first-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .first-text img {
    font-family: "Abril Fatface", times, serif;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-top: 120px;
    padding-left: 100px;
}
.footer-section .first-text p {
    color: #7A838B;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 100px;
    padding-top: 50px;
}

/* Second Colums */
.footer-section .second-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .second-text {
        width: 50%;
        margin-left: -70px;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .second-text {
        width: 50%;
        margin-left: -70px;
    }
}
@media (max-width: 426px) {
    .footer-section .second-text {
        width: 100%;
        margin-left: -150px;
    }
}
.footer-section .second-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 170px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}

.footer-section .second-text .list-link {
   font-size: 13px;
    list-style: none;
    line-height: 3;
    padding-left: 170px;
    padding-top: 0px;
    
}

.footer-section .second-text .list-link a {
    text-decoration: none;
    color: #7A838B;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

/* Third Colums */
.footer-section .third-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .third-text {
        width: 50%;
    }
}
@media (min-width: 576px) and (max-width: 770px) {
    .footer-section .third-text {
        width: 50%;
        margin-left: -50px;
    }
}
@media (max-width: 426px) {
    .footer-section .third-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .third-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}
.footer-section .third-text .list-link-third {
    font-size: 13px;
     list-style: none;
     line-height: 3;
     padding-left: 100px;
     padding-top: 0px;
     
 }
 
 .footer-section .third-text .list-link-third a {
     text-decoration: none;
     color: #7A838B;
     font-weight: 400;
     font-family: "Roboto", sans-serif;
 }


/* Fourth Colums */
.footer-section .fourth-text {
    float: left;
}
/* ------ Media Query ------ */
@media (min-width: 770px) and (max-width: 1100px) {
    .footer-section .fourth-text {
        width: 50%;
    }
}
@media (max-width: 426px) {
    .footer-section .fourth-text {
        width: 100%;
        margin-left: -80px;
    }
}
.footer-section .fourth-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: #040E27;
    text-transform: capitalize;
    padding-top: 120px;
    padding-left: 100px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
}
.footer-section .fourth-text p {
    color: #7A838B;
    font-size: 13px;
    padding-left: 100px;
    line-height: 3;
}